
<form #f="ngForm" (ngSubmit)="save(f.value)">

    <div class="form-group">
        <label for="exercise">Name</label>
        <input ngModel name="name" id="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Workout programs</label>
            <select ngModel name="name" id="name" class="form-control">
                    <option>Choose...</option>
                    <option *ngFor="let c of programsTest" [value]="c.name">
                            {{ c.name }}
                         </option>
                </select>
    </div>

    <button class="btn btn-primary" (click)=addExercise()>Add new exercise</button>

    <button class="btn btn-primary">Save</button>
</form>

