<div class="w3-display-container">
        <div class="w3-display-topmiddle">
                <p>my-orders works!</p>
        </div>
    </div>
    <div class="table-container">
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr >
                        <th>Program Name: {{ p.name  || 'not found'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Exercise: {{ e.name || 'not found' }}</td>       
                        <td>Description:</td>
                        <td>Reps/Time:</td>
                        <td>Set:</td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
            
            
    