<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

<div class="table-container">
<table class="w3-table-all w3-hoverable">
    <thead>
        <tr>
            <th >
                 Program name:
            </th>
            <th>Description:</th>
            <th>Reps/Time:</th>
            <th>Set:</th>

            <!--
                <th>Program Name: {{ p.name  || 'not found'}}</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of programsTest">
            {{ p.program.name }}
        </tr>
        
    </tbody>
</table>
</div>

